In [1]:
"""
# INPUT 시트의 내용을 기준으로 OUTPUT 템플릿에 내용을 기록
# 먼저 같은 WBI의 'TEST' 텝에 먼저 기록 테스트.
"""
!dir

 C 드라이브의 볼륨: Yoga_256G
 볼륨 일련 번호: 3CAA-9005

 C:\Users\nitt0\Documents\Github\k_mooc_reboot\module_openpyxl 디렉터리

2019-11-15  오전 09:19    <DIR>          .
2019-11-15  오전 09:19    <DIR>          ..
2019-11-15  오전 09:05    <DIR>          .ipynb_checkpoints
2019-11-15  오전 09:19            15,515 array_to_write.ipynb
2019-11-15  오전 09:08             3,956 array_to_write.py
2019-10-02  오후 03:03    <DIR>          assets
2019-11-14  오후 03:23             1,233 excel_write.py
2019-11-14  오후 03:59             2,972 odd_even_write.py
2019-11-14  오후 02:15             1,817 read_calc_write.py
2019-11-14  오후 09:32    <DIR>          statics
2019-10-02  오후 03:06    <DIR>          tests
2019-11-14  오후 10:10    <DIR>          works
2019-11-14  오후 02:15             1,127 write_new.py
               6개 파일              26,620 바이트
               7개 디렉터리  118,551,195,648 바이트 남음

In [2]:
import pandas as pd
import openpyxl as ox

# import assets.script_run   # Not Applicable for Jupyter Notebook
from assets.configs import *

print(__doc__)

# assets/configs.py - 각종변수 및 Paths를 지정


# INPUT 시트의 내용을 기준으로 OUTPUT 템플릿에 내용을 기록
# 먼저 같은 WBI의 'TEST' 텝에 먼저 기록 테스트.

In [3]:
TARGET_READ = dir_home_statics + 'target_input.xlsx'
OUT_DESIGNATED = dir_home_works + 'target_output.xlsx'

# 미리 만들어 놓은 시트이름 INPUT, TEST.
WBI = ox.load_workbook(TARGET_READ)
WSI_01 = WBI["INPUT"]
WSI_02 = WBI["TEST"]

# Sheet 이름은 존재하는 탭 이름을 써야 함.
WBO = ox.load_workbook(OUT_DESIGNATED)
WSO_01 = WBO["Sheet1"]
WSO_02 = WBO["Sheet2"]
WSO_03 = WBO["Sheet3"]

In [4]:
def set_array_to_WS(WS_array, WS_target):
    """
    # WS_array 형식 = column : [[CELL_NAME, TEXT, NUMBER, EQUATION], ]
    # _blank = None, 3개중 1개만 채운다.
    """
    for rows in WS_array:
        cell_name = rows[0]

        if cell_name.startswith('CELL'):  # 해더는 패스!
            continue

        if rows[1]:
            WS_target[cell_name] = rows[1]
            print(f"WS[{cell_name}] = str({rows[1]})")

        elif rows[2]:
            WS_target[cell_name] = int(rows[2])
            print(f"WS[{cell_name}] = int({rows[2]})")

        elif rows[3]:
            WS_target[cell_name] = rows[3]
            print(f"WS[{cell_name}] = str({rows[3]})")
    print(f"*** WRITING worksheet is Done! '{len(WS_array)-1}' times ***\n\n")

    
def get_WS_array(worksheet):
    """WS 를 입력하면 입력된 범위 만큼의 str_array를 만든다"""
    # ws_array = []
    # for i, row in enumerate(worksheet.rows):
    #     ws_array.append([])
    #     for col in row:
    #         ws_array[i].append(f"{col.value}")

    # ALL THE SAME
    ws_array = []
    for row in worksheet.rows:
        ws_array.append([col.value for col in row])
    return ws_array


def show_all():
    """
    # ALL THE SAME! ... 1-line coding!.. apprehansive repeat!
    # [print(f"{col.value}, ", end="\n")
    #     if i%4 == 3
    #     else print(f"{col.value}, ", end="")
    #     for row in WSI_01.rows
    #     for i, col in enumerate(row)]

    # 전체 값 둘러보기 (pos_xy에서 개별 가져오기)
    # for row in WSI_01.rows:
    #     for col in row:
    #         print(f"{col.value}, ", end="")
    #     print()

    # 1 row(tuple) 가져오기
    """
    for row in WSI_01.rows:
        for i, col in enumerate(row):
            if i % 4 == 3:
                print(f"{col.value}")       # 마지막 4칼럼에서 줄바꿈
            else:
                print(f"{col.value}, ", end='')

def show_overview(sheet):
    """
    # 전체 입력 란을 오버뷰
    # # <class 'openpyxl.cell.cell.Cell'>
    # print(type(row[2]))

    # # [1, 2, 3, 4, 5, 6] ... Index는 항상일정
    # print([col.col_idx for col in row])

    # # 뒤에서 3번째 칼럼 = MATH
    # print(row[0].value)

    # ['NAME', 'KOR', 'ENG', 'MATH', 'SUM', 'AVERAGE']
    """
    for row in sheet.rows:
        print([col.value for col in row])

In [5]:
def main():
    global df
    # [print(row) for row in get_WS_array(WSI_01)]  # ... for TEST!
    ws_array = get_WS_array(WSI_01)
    df = pd.DataFrame(data=ws_array)

    print(df)

    # show_overview(WSI_01)
    # show_all()

    # # WSI_01 입력내용을 array 를 만든다.
    # WSI_01_array = get_WS_array(WSI_01)
    #
    # # WSI_01_array의 내용을, WSI_02에 기록하고 WBI를 저장한다.
    # set_array_to_WS(WSI_01_array, WSI_02)
    # WBI.save(TARGET_READ)
    #
    #
    # # WSI_01_array의 내용을, WSO_01~03 반복해서 기록하고 WBO를 저장한다.
    # set_array_to_WS(WSI_01_array, WSO_01)
    # set_array_to_WS(WSI_01_array, WSO_02)
    # set_array_to_WS(WSI_01_array, WSO_03)
    # WBO.save(OUT_DESIGNATED)

In [6]:
main()

       0                                            1         2  \
0   CELL                                         TEXT    NUMBER
1     B1                                         NAME      None
2     B2                               PROPERTY (USD)      None
3     C1                               John F Kennedy      None
4     C2                                         None    123456
5     D1           The Address where he/she is living      None
6     D2  MIDAS NFX non-linear Analysys & Design Tool      None
7     C3                                         None      6789
8     C4                                         None      1011
9     C5                                         None  12131415
10    C6                                         None    161718
11    C7                                         None      1920
12    C8                                         None     12345
13    B9                                          SUM      None
14   B10                                      AVERAGE      None
15    C9                                         None      None
16   C10                                         None      None

                  3
0           FORMULA
1              None
2              None
3              None
4              None
5              None
6              None
7              None
8              None
9              None
10             None
11             None
12             None
13             None
14             None
15      =SUM(C3:C8)
16  =AVERAGE(C3:C8)

In [7]:
df

,0,1,2,3
0,CELL,TEXT,NUMBER,FORMULA
1,B1,NAME,None,None
2,B2,PROPERTY (USD),None,None
3,C1,John F Kennedy,None,None
4,C2,None,123456,None
5,D1,The Address where he/she is living,None,None
6,D2,MIDAS NFX non-linear Analysys & Design Tool,None,None
7,C3,None,6789,None
8,C4,None,1011,None
9,C5,None,12131415,None
10,C6,None,161718,None
11,C7,None,1920,None
12,C8,None,12345,None
13,B9,SUM,None,None
14,B10,AVERAGE,None,None
15,C9,None,None,=SUM(C3:C8)
16,C10,None,None,=AVERAGE(C3:C8)